
 .progress_inner__bar,
 .progress_inner__bar--set {
  height: 6px;
  left: 12%;
  top: 10px;
  background: repeating-linear-gradient(45deg, #1ea4ec, #1ea4ec 4px, #1f8bc5 4px, #1f8bc5 10px);
  transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
  border-radius: 6px;
  width: 0%;
  position: relative;
  z-index: -1;
}

 .progress_inner__step:before {
  width: 30px;
  height: 30px;
  color: #70afd0;
  background: white;
  line-height: 23px;
  border: 3px solid #a6cde2;
  font-size: 12px;
  top: 12px;
  border-radius: 100%;
  transition: all .4s;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
}

 .progress_inner__step {
  width: 25%;
  font-size: 14px;
  padding: 0 10px;
  transition: all .4s;
  float: left;
  text-align: center;
  position: relative;
}
 .progress_inner__step label {
  padding-top: 50px;
  top: -20px;
  display: block;
  position: relative;
  cursor: text;
}
 .progress_inner__step:hover {
  color: #333;
}

 .progress_inner .active {
  color: #333;
}
 .progress_inner .active:before {
  color: white;
  background: #1ea4ec;
}

 .progress_inner__step:nth-of-type(1):before {
  content: "1";
}
 .progress_inner__step:nth-of-type(2):before {
  content: "2";
}
 .progress_inner__step:nth-of-type(3):before {
  content: "3";
}
 .progress_inner__step:nth-of-type(4):before {
  content: "4";
}

 .progress_inner__bar--set {
  width: 75%;
  left: 12%;
  top: 4px;
  background: #70afd0;
  position: relative;
  z-index: -2;
}
